<div class="container">
    <div class="story-wrapper">
        <div class="left-column">
            <a href="{{ link }}" target="_blank">{{ storyTitle }}</a>
            <span>by {{ author }} on: {{ time }}</span>
        </div>
        <div class="right-column">
            <span>
                <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                {{ score }}
            </span>
            <span>
                <i class="fa fa-comments-o" aria-hidden="true"></i>
                {{ comments }}
            </span>
        </div>
    </div>
</div>